.contain{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

button {
    background-color: black;
    padding: 10px ;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

button:hover{
    opacity: 0.5;
}

.container-task{
    display: flex;
    align-items: center;
}

.container-task p{
    width: 210px;
}